


    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
$mobile: 480px; // Adjust as needed
$tablet: 768px; // Adjust as needed
$desktop: 1020px; // Adjust as needed


    $colors: (
        primary: rgb(212, 57, 57)
    );
    
    
    @function color($color-name){
        @return map-get($colors, $color-name)
     }
        *{
             margin: 0;
            padding:0;
           
                          
            }

    body{
        background-color: #409cc7;
        font-family: 'Poppins', sans-serif;

        //  display: flex;
        //  flex-direction: column;
        
        }

.clouds{
    
    justify-content: space-between;
    position: fixed;
    width: 500px;
    z-index: -1;
    
           

    }
        
.main-header{
    margin: 1rem;
    padding: 1rem 2rem;
    text-align: center;
    // display: flex;
    // justify-content: space-between;
    // align-content: center;
    
    
    
   
    
        h1{
            color: #ecc904;
            font-size: 25px;
            text-align: center;
            margin-bottom: 15px;
            
            }
                img{
                    width: 50px;
                    cursor: pointer;
                    
                    

                    &:hover
                        {
                            opacity: 85%;
                            }

                        

                   
                   
                    
                    }
            
            #menu-items{
                 
                 
                 
                 display: none;
                 
                 
                 
                
                
            h2{

                  //  list-style: none;
                    // display: none;
                    font-size:15px;
                    // padding: 0.4rem 0;
                    align-items: center;
                    color: #e3d7d7;
                    text-align: center;
                    line-height: 2px;
                    background: rgb(109, 102, 102);
                    padding: 1rem;
                    width: 20rem;
                   
                    
                    &:hover{
       // transform: translatex(10px);
        color: #ecc904;
        background: #2f2b2bc4;
        
        
        
    }
                }
                }

                    a{

                    text-decoration: none;
                    padding:0;
                    

                    }
                 
    }


.statement{
   margin: 0.5rem 1.5rem;
   padding: 1rem;
   background: rgb(249, 249, 249);
   border-radius: 10px;
   text-align: center;
   h2{
    font-size: 17px;
    }
        p{
            color: rgb(232, 190, 3);
            
            }
                input{
                    width:60%;
                    border-radius: 1rem;
                    border-width: 1.5px;
                    border-style: dashed;
                    border-color: #8c8c90;

                    

                    }
    button{
        padding: 0.4rem 1.8rem;
        margin: 5px 0;
        letter-spacing: 1px;
        border: none;
        color: white;
        background: rgb(60, 184, 96);
        cursor: pointer;
        
        
        &:hover{
        
        
        background: rgba(60, 184, 95, 0.721);
        
        
        
    }

        
        }
            
    
    
    }


    footer{
        
        background-color: rgb(141, 141, 141);
        margin-top: 290px;
        }
    .footer-list{

        a{
            text-decoration: none;
            color:#ecc904;
            }
    //    margin: 0.5rem 1rem;
       text-align: center;
    //    display: flex;
       
        
        img{
            height: 60px;
            border-radius: 2rem;
            }
        
        }

            @media (max-width: $mobile) {


 
}

            @media (min-width: $tablet) and (max-width: $desktop - 1) {

            footer{
                
                margin-top: 320px
                }
}
            @media (min-width: $desktop) {


                    .main-header{
                        
                        img{
                    display: flex;
                    justify-content: center; // Horizontally center the content
                    align-items: center; // Vertically center the content
                   
                            }
                        
                        }
                            footer{
                
                            margin-top: 324px
                }
               

    }